
@{
    ViewBag.Title = "Sayfa Listesi";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="~/Areas/Admin/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="~/Areas/Admin/vendor/animate/animate.css">

<link rel="stylesheet" href="~/Areas/Admin/vendor/font-awesome/css/all.min.css">
<link rel="stylesheet" href="~/Areas/Admin/css/theme.css">
<link href="~/Areas/Admin/css/AdminStyle.css" rel="stylesheet" />

<script src="~/Areas/Admin/vendor/modernizr/modernizr.js"></script>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Sayfa Listesi
                    </h2>
                </div>
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Admin/Login" target="_blank">Login</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/List" target="_blank">Kullanıcı Listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/Create" target="_blank">Kullanıcı Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/Detail" target="_blank">Kullanıcı Detayı</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/OrderHistory" target="_blank">Kullanıcı Sipariş Geçmişi Listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/OrderHistoryDetail" target="_blank">Kullanıcı Sipariş Geçmişi detayı</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/User/OrderList" target="_blank">Tüm Siparişler</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Company/List" target="_blank">Şirket Listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Company/Create" target="_blank">Şirket Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Company/Detail" target="_blank">Şirket Detayı</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/List" target="_blank">Araç listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/Create" target="_blank">Araç Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/Detail" target="_blank">Araç Detayı</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/CarPointList" target="_blank">Araç Puanları Listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/CarPointCreate" target="_blank">Araç Puanları Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/ExtraMaterialList" target="_blank">Extra Materyal listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/ExtraMaterialCreate" target="_blank">Extra Materyal Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Car/ExtraMaterialCreate" target="_blank">Extra Materyal Ekle / Güncelle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Content/ContactList" target="_blank">İletişim Sayfa İçeriği</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Content/ContactCreate" target="_blank">İletişim sayfa içeriği Ekle / Düzenle</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Content/FAQList" target="_blank">SSS Listesi</a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="~/Admin/Content/FAQCreate" target="_blank">SSS Ekle / Düzenle</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="~/Areas/Admin/vendor/jquery/jquery.js"></script>
<script src="~/Areas/Admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="~/Areas/Admin/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/Areas/Admin/vendor/common/common.js"></script>
<script src="~/Areas/Admin/vendor/nanoscroller/nanoscroller.js"></script>

<script src="~/Areas/Admin/js/theme.js"></script>
<script src="~/Areas/Admin/js/theme.init.js"></script>