<div class="modal fade" id="SteepThreeCreateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sigorta Oluşturma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12 mb-3">
                    <span>
                        Bu kiralamaya dahil olan kaza hasarından feragat, olası bir hasar veya çalınma durumunda size tam kapsamlı koruma sağlamaz. Araç zarar gördüğünde, çalındığında veya anahtarlarını kaybettiğinizde, hala belirli bir bedele kadar bir ödemenin sorumluluğu altında olursunuz. Aşağıda belirtilen şartlar ve koşullara tabi olarak, Orient Sigorta A.Ş.'den Araç Kiralama Koruması satın alarak bu riski karşılayabilirsiniz.
                    </span>
                </div>
                <div class="col-12 mb-3">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-1">
                                <input type="checkbox"/>
                            </div>
                            <div class="col-10">
                                <span>
                                    Evet, hasar aşımına karşı kendimi sadece 29,00 TRY ödeyerek sigortalatmak istiyorum ve “ Şart ve Koşulları ” okudum.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <strong>
                        T.C. Kimlik Numarası*
                    </strong>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-12 mt-2">
                    <span>Eğer olası hasar aşımına karşı sigortalanmak isterseniz, yukarıdaki kutucuğu işaretlediğinize emin olun.</span>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="col-11">
                            <span>
                                – 29,00 TRY karşılığında TRY 7000 bedele kadar zarar aşımının geri ödemesi.
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="col-11">
                            <span>
                                – Zarar aşımı ödemeniz durumunda, TRY 7000 bedele kadar geri ödeme.
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check mr-1"></i>
                        </div>
                        <div class="col-11">
                            <span>
                                – Beklenmeyen zarar aşımına karşı koruma
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="col-11">
                            <span>
                                – Vefat veya tam ve daimi maluliyet durumunda, TRY 100.000 bedele kadar Ferdi Kaza Sigortası ve kişisel eşyalarınızın çalınmasına karşı TRY 3.000 bedele kadar kapsam, bu sigortaya dahildir!
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-question-circle"></i>
                        </div>
                        <div class="col-11">
                            <span>
                                <a href="#"> Bu sigorta kiralama esnasında ve sonrasında nasıl çalışır?</a>

                            </span>
                        </div>
                    </div>
                   
                </div>
                <div class="col-12 mb-2">
                    <a href="#">
                        Şart ve Koşulları
                    </a>
                </div>
                <div class="col-12 mb-3">
                    <span>
                        Bu poliçe, Orient Sigorta A.Ş. (sicil numarası T14113-CEM9) tarafından sigortalanır ve yetkili acente Hepstar Sigorta Aracılık Hizmetleri Ltd. Şti. tarafından dağıtılır. Bu ürünü seçerek, kişisel verilerinizin 6698 sayılı Türk kanunu ve ilgili mevzuat doğrultusunda gerekli üçüncü taraflara gönderilmesine, işlenmesine, kaydedilmesine, depolanmasına, sınıflandırılmasına, güncellenmesine ve dağıtılmasına ve bununla birlikte yurtdışında depolanmasına onay veriyorsunuz.
                    </span>
                   
                </div>
                <hr />
                <div class="col-12 mb-3">
                    <center>
                        <input type="submit" class="btn btn-save" value="Güncelle" />
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>

