
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    İçindekiler
                </strong>
            </div>
            <div class="card-body">
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Login/Index">Login Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Member/SifreUnuttumEPosta">Şifremi Unuttum Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Member/SifreUnuttumSifre">Şifremi Unuttum şifre Yenileme</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Login/Register">Kayıt Ekranı</a>
                </div>
                
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Member/Profile">Profil Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Member/SifreDegistir">Şifre Değiştir Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Member/OrderHistory">Kiraladıklarım Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Content/Contact">İletişim Ekranı Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Content/FAQ">Sık Sorulan Sorular Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Content/PrivacyPolicy">Gizlilik Politikası ve Kullanıcı Szleşmesi Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Car/Index">Ana Sayfa</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <a target="_blank" href="~/Car/CarList">Araç listelme Ekranı</a>
                </div>
                <div class="col-12 mb-3" style="margin-bottom:20px;">
                    <span style="color:red;">
                        CarList sayfasındaki araç listelemeden itibaren olan viewlar PartialView ve AccordionMenu'da tanımlı olduğu için diğer adımların bağlantı linki verilememktedir. CarList sayfası üzerinden adımları takip ederk ilerliyebilirsiniz.
                    </span>
                </div>
            </div>
        </div>
         
    </div>
</body>
</html>
