@model IEnumerable<Arackiralama.Models.CarPointScale>
@{
    ViewBag.Title = "Araç Puanları Listesi";
}

<div class="row">
    @if (ViewBag.Message != null)
    {
        <div class="col-12 mb-3">
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        </div>
    }
    <div class="col-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Araç Puanları Listesi</h2>
            </header>
            <div class="card-body">
                <table class="table table-responsive-md table-striped mb-0 table-bordered">
                    <thead>
                        <tr>
                            <th>Puan Aralığı</th>
                            <th>Puan İfadesi</th>
                            <th>Düzenle</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                  @item.PuanAraligi
                                </td>
                                <td>@item.PuanIfadesi</td>
                                <td>
                                    <a href="@Url.Action("CarPointEdit","Car",new { id = item.ID })" class="btn btn-info">Düzenle</a>
                                </td>


                            </tr>
                        }
                        
                       
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

